@media screen and (max-width: 1170px) {
        nav {
            flex-direction: column;
            align-items: center;
        }
        
        .logo {
            display: block;
            margin: 0 auto;
            width: 150px;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1rem;
        }

        .sobre {
            display: block;
        }

        .teacher-picture {
            display: block;
            margin: 0 auto;
            width: 300px;
        }

        #teacher-a-g {
            display: block;
            margin: 0 auto;
            text-align: left;
            font-size: 19px;
        }

        #p-about {
            display: block;
            margin: 0 auto;
            text-align: justify;
            justify-content:flex-start
        }

        .card-idiom {
            display: block;
            margin-top: 10px;
            width: 50%;
        }

        #importancia {
            flex-direction: column;
            align-items: center;
        }

        .popover-text {
            display: block;
            text-align: left;
            gap: 0.5rem;
            font-size: 0.8rem;
            margin-left: 10px;
        }
    }