::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
::-webkit-scrollbar-track {
    background: #d18801;
}
  
::-webkit-scrollbar-thumb {
    background-color: #D4A64F;
    border: none;
    cursor: pointer;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #4e3300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 1170px) {
    * {
    overflow-x: hidden;
    }        
}

body {
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
}

header {
    & nav {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-wrap: wrap;
    }

    & ul {
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & .logo {
        width: 200px;
    }

    & .nav-links a {
        color: #D4A64F;
        text-decoration: none;
        font-weight: bold;
    }
}

main {
    padding: 2rem;

    & .sobre, .importancia, .videos, .formulario {
        margin-bottom: 3rem;
    }

    & .sobre {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }

    & .teacher-picture {
        max-width: 589px;
        border-radius: 8px
    }

    & .comentario {
        max-width: 600px;
    }

    & #teacher-a-g {
        display: block;
        text-align: center;
        color: #D4A64F;
        margin-bottom: 25px;
    }
    
    & #p-about {
        display: block;
        text-align: left;
        padding: 10px 20px;
    }

    & .idioma {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    & .card-idiom {
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 10px;
        max-width: 400px;
        width: 300%;
        position: relative;
        background: white;
    }

    & .idiom {
        display: block;
        text-align: center;
    }

    & .card-idiom img {
        display: block;
        margin: 0 auto;
        width: 150px;
        object-fit: cover;
        border-radius: 6px;
    }

    & .card-idiom button {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }

    & .pt {
        background-color: #009739;
        color: #FFCC29;
        font-weight: bold;
    }

    & .pt:hover {
        background-color: #002776;
        color: #FFFFFF;
    }

    & .en {
        background-color: #3C3B6E;
        color: #FFFFFF;
        font-weight: bold;
    }

    & .en:hover {
        background: #B22234;
        color: #E0E7FF;
    }

    & .es {
        background-color: #74ACDF;
        color: #FFFFFF;
        font-weight: bold;
    }

    & .es:hover {
        background-color: #F6C700;
        color: #1A237E;
    }

    & .popover-text {
        display: none;
        background: #eee;
        padding: 1rem;
        margin-top: 0.5rem;
        border-left: 5px solid #006a91;
        text-align: left;
        font-size: 0.95rem;
    }

    & .videos {
       text-align: center;
       margin: 3rem 0;
    }

    & .videos h2 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        color: #006a91;
    }

    & .carrossel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    & .carrossel-video video {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
    }

    & .btn-anterior, .btn-proximo {
        background-color: #006a91;
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-anterior:hover, .btn-proximo:hover {
        background-color: #75c8e6;
    }

    & .formulario {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    & #inscri {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    & #form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 500px;
    }

    & input, select, textarea {
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #d18801;
        outline: none;
        border-radius: 6px;
        width: 500px;
    }

    & textarea {
        resize: none;
    }

    & option {
        background-color: black;
        color: #D4A64F;
        font-weight: bold;
    }

    & #btn-submit {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 6px;
        background-color: black;
        color: white;
        border: 1pt solid #d18801;
        cursor: pointer;
        transition: background-color 0.8s ease;
    }
    
    & #btn-submit:hover {
        background-color: white;
        color: #d18801;
        font-weight: bold;
        border: 1pt solid black;
    }

    & .popover {
        display: none;
        margin-top: 1rem;
        padding: 1rem;
        background-color: #006a91;
        border-left: 5px solid #F6C700;
        color: white;
    }
    
    & #progress-bar-container {
        width: 100%;
        height: 8px;
        background-color: #ddd;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10px;
    }

    & #progress-bar {
        height: 100%;
        width: 0%;
        background-color: #d18801; /* sua cor padrão */
        transition: width 60s linear;
    }
}