@media (max-width: 412px) and (max-height: 914PX) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin: 0 auto;
        width: 150px;
    }

    .sobre {
        display: block;
    }

    .teacher-picture {
        display: block;
        margin: 0 auto;
        width: 225px;
    }

    #teacher-a-g {
        display: block;
        margin: 0 auto;
        font-size: 35px;
    }

    #p-about {
        display: block;
        margin: 0 auto;
        margin-right: 25px;
        font-size: 25px;
    }

    .card-idiom {
        display: block;
        margin-top: 15px;
    }

    #importancia {
        flex-direction: column;
        align-items: center;
    }

    .card-idiom {
        width: 100px;
    }

    .popover-text {
        font-size: 2rem;
    }

    .formulario {
        padding: 10px;
    }

    form {
        width: 100%;
    }

    input, select, textarea {
        width: 100%;
    }

    #btn-submit {
        width: 100%;
    }
}