@media (max-width: 414px) and (max-height: 896px) {
    * {
        overflow-x: hidden;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 150px;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
    }

    .sobre {
        display: block;
    }

    .teacher-picture {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    #teacher-a-g {
        display: block;
        margin: 0 auto;
        font-size: 24px;
    }

    #p-about {
        display: block;
        margin: 0 auto;
        font-size: 1rem;
    }

    .card-idiom {
        display: block;
        margin-top: 10px;
    }

    #importancia {
        flex-direction: column;
        align-items: center;
    }

    .card-idiom {
        width: 50%;
    }

    .popover-text {
        font-size: 12px;
    }

    .formulario {
        padding: 5px;
    }

    #form {
        max-width: 100%;
        padding: 0 1rem;
    }

    input, select, textarea {
        width: 50%;
    }

    .popover {
        font-size: 1rem;
        padding: 1rem;
    }

    #progress-bar-container {
        height: 8px;
    }

    #progress-bar {
        transition: width 60s linear;
        height: 100%;
        width: 0%;
    }
}